.btn {
    font-size: rem(16px);
    font-weight: normal;
    padding: rem(20px) rem(43px);
    text-transform: uppercase;
    border-radius: rem(100px);
    line-height: 1;
    text-decoration: none;
    border:none;
    display: inline-block;
}
.btn--theme--pink  {
    background: $pink;
    color: $white;
    &:hover {
        color: #060606;
        background: $white;
    }
}
.btn--theme--transparent {
    background: transparent;
    color: $white;
    text-transform: none;
    &:hover {
        color: $pink;
        background: $white;
    }
}