.fullscreen-menu {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #666666;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.menu--vertical {
    display: flex;
}
.menu--vertical .menu__list{
    flex-direction: column;
    color: white;
    font-size: 36px;
    :hover {
        color: $pink;
    }
}