.slider__menu {
    display: none;
    position: absolute;
    top: 50px;
    background: #666666;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.slider__menu--vertical {
    display: flex;
}
.slider__menu--vertical .menu__list{
    flex-direction: column;
    color: white;
    :hover {
        color: $pink;
    }
}
.btnactive {
    display: none;
}