$containerWidth:940px;
$baseFontSize: 16px;

//breakpoints

$tablets: 768px;
$phones: 480px;

//colors
$gray:#F5F5F5;
$black: #292929;
$pink: #E01F3D;
$white: #fff;

//z-indexes
$z-fixed-menu: 100;

@import "_media";

//normalize
@import "_normalize";

//setups
@import url(https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300&display=swap>);
@import "_layout";

// components
@import "_hero";
@import "_header";
@import "_features";
@import "_feature";
@import "_btn";
@import "_section";
@import "_headline";
@import "_benefits";
@import "_benefit";
@import "_benefits-section";
@import "_reviews";
@import "_interactive-avatar";
@import "_order";
@import "_radio";
@import "_fixed-menu";
@import "_hamburger";
@import "_contacts";
@import "_fullscreen-menu";
@import "_products";
@import "_slider-menu";








